{
    "presets": [
        ["env", {
          "modules": false,// "amd" | "umd" | "systemjs" | "commonjs" | false, defaults to "commonjs".
                           // Enable transformation of ES6 module syntax to another module type.
                           // Setting this to false will not transform modules.
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7", "ie >= 7"]
          }
        }]
    ]
}